@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
    text-align: justify;
}

body {
    background-color:steelblue;
}

header {
    background-color: white;
    padding: 20px;
}
p {
    padding: 10px;
}

